<div class="panel panel-primary">
    <div class="panel-heading ">
        Category List
    </div>
    <div class="panel-body">
        <div class="table-responsive">
            <table class="table">
                <thead>
                    <th>Code</th>
                    <th>Description</th>
                    <th>Type</th>
                </thead>
                <tbody>
                    <td>C001</td>
                    <td>AAAAA</td>
                    <td>1</td>
                </tbody>
            </table>
        </div>
    </div>
</div>